# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
.env
.env*.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist
dist-ssr

# Dependencies
node_modules

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# App data
notes.md
user-credentials.md
.vercel
rest
